@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600&family=Poppins:wght@700&display=swap");

$primary_color: #f8c6c8;
$secondary_color: #ca666a;
$tertiary_color: #f2f2f2;
$placeholder_color: #dbbebe;

$excludeSomething: true;